*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.products
{
    padding: 30px 40px;
    width: 100%;
}

.products h2
{
    color: black;
    font-size: 42px;
    font-weight: 300;
}

.products p
{
    margin-top: 10px;
    color:hsl(0, 1%, 75%);
}

.products .container
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 100%;
}

.products .container .filter
{
    padding: 20px 30px;
}

.products .container .filter .categories h3
{
    color:black;
    font-size: 16px;
    font-weight: 600;
}


.products .container .filter ul
{
    margin-top: 10px;
}

.products .container .filter ul li
{
    margin-top: 20px;
    color: black;
    cursor: pointer;
    list-style: none;
}


.productbox .productcontainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.productbox .productcontainer .box {
  padding: 10px 20px;
  width: 280px;
  height: 380px;
  border: 1px solid hsl(0, 2%, 88%);
  border-radius: 5px;
  margin-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  margin-right: 20px;
}

.productbox .productcontainer .box:hover {
  box-shadow: hsla(0, 0%, 0%, 0.8) 0px 3px 8px;
}


.productbox .productcontainer .box .img_box {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-bottom: 1px solid hsl(0, 2%, 88%);
}


.productbox .productcontainer .box .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.productbox .productcontainer .box .img_box .icons {
  position: absolute;
  top: 20px;
  right: -50px; 
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  z-index: 2;
}


.productbox .productcontainer .box .img_box:hover .icons {
  right: 10px; 
}

.productbox .productcontainer .box .img_box .icons li {
  list-style: none;
  padding: 10px;
  color: black;
  cursor: pointer;
  box-shadow: hsla(0, 0%, 0%, 0.8) 0px 3px 8px;
  background-color: white;
  transition: 0.3s;
}

.productbox .productcontainer .box .img_box .icons li:hover {
  background-color: rgb(61, 116, 224);
  color: white;
}

.productbox .productcontainer .box .details
{
    margin-top: 10px;
}

.productbox .productcontainer .box .details p
{
    color:hsl(0, 1%, 80%);
    font-size: 14px;
}

.productbox .productcontainer .box .details h3
{
    font-size: 16px;
    margin-top: 5px;
    color: black;
    transition: 0.5s;
}

.productbox .productcontainer .box:hover .details h3
{
    color:rgb(61, 116, 224) ;
}

.productbox .productcontainer .box:hover .details h4
{
    color: black;
    font-size: 14px;
    letter-spacing: 1px;
}

.productbox .productcontainer .box:hover .details h4
{
    color:rgb(61, 116, 224) ;
}

.product-detail
{
  margin-bottom: 30px;
  padding: 30px 40px;
  width: 100%;
  height: 120%;
  position: fixed;
  z-index: 1;
  margin-top: -20%;
  background-color: rgba(0, 0, 0, 0.24);
}

.product-detail .container
{
  margin-top: 7%;
  margin-left: 8%;
  width: 1000px;
  height: 500px;
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px ;
}

.product-detail .container .closebtn
{
  margin-left: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 22px;
  cursor: pointer;
}

.product-detail .container .productbox
{
  max-width: 100%;
  display: flex;
  padding: 20px 30px;
  margin-top: 20px;
}

.product-detail .container .productbox .img-box
{
  padding: 20px 30px;
  background: hsl(0, 0%, 95%);
  width:400px;
  height: 350px;
}

.product-detail .container .productbox .img-box img
{
  width: 300px;
  height: 250px;
}

.product-detail .container .productbox .detail
{
  margin-top: 10px;
  margin-left: 30px;

}

.product-detail .container .productbox .detail h4
{
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 1px;
  color: hsl(0, 2%, 76%);
}

.product-detail .container .productbox .detail h2
{
  margin-top: 20px;
  font-size: 30px;
  color: hsl(0, 0%, 12%);
}

.product-detail .container .productbox .detail h3
{
  margin-top: 20px;
  font-size: 32px;
  color: hsl(0, 0%, 12%);
}

.product-detail .container .productbox .detail button
{
  margin-top: 30px;
  background: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 60px;
  font-size: 16px;
  transition: 0.5s;
  border-radius: 5px;
}

.product-detail .container .productbox .detail button:hover
{
  background: rgb(61, 116, 224);
}